<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>


    <title>Update Menu</title>
  </head>
  <body>
    <div class="flex justify-center mt-10">
      <h1
        class="text-4xl underline underline-offset-8 decoration-3 decoration-red-600 font-bold"
      >
        Update Menu
      </h1>
    </div>
    <div class="mt-16 mx-5 sm:mx-28">
      <form action="/menus/create" enctype="multipart/form-data" method="post" >

        <%- include("partials/menu-form/menu-name",{menuName:menu.menuTitle}) %>
        
        <%- include("partials/menu-form/add-image") %>
        
        <% menu.foodCategories.forEach((category,i) => { %>
            <%- include("partials/menu-form/category-container",{category:category,catNo:i}) %>
        <% }); %>
        
        <%- include("partials/menu-form/add-category-button") %>
        
      
        <button
          type="submit"
          class="text-white mb-10 bg-gray-950 hover:bg-red-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center focus:ring-blue-800"
        >
          Submit
        </button>

      </form>
    </div>

    <script src="../edit-menu.js"></script>
  </body>
</html>
